@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-vindo ao meu site!</h1>
<p>Aqui você pode saber mais sobre mim e meu currículo.</p>

<Counter IncrementAmount="10"/>


<SurveyPrompt Title="How is Blazor working for you?" />
